* {
  box-sizing: border-box;
}

body {
  width: 90%;
  height: 100vh;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;

  position: relative;
  display: inline-block;
  cursor: pointer;
}

.item img {
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.item:hover img {
  filter: brightness(0.7); /* 이미지 어둡게 */
}
